<div class="weatherMap">
  <div class="seachBar">
    {{weather-seach-bar}}
  </div>
  <div class="weatherNow">
    {{weather-monitor}}
  </div>
  <div class="weatherAtTheTime">
    {{weather-at-the-time-monitor}}
  </div>
</div>
{{outlet}}
